<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Broken Bottles</title>
    <h1>Welcome to Broken Bottles</h1>
  </head>
  <body>
    <div class='links'>
    <%= link_to "Posts", posts_path%>
    <div class='recipeslink'><%= link_to "Recipes", recipes_path%></div>
  </div>
  <p>Broken Bottles is your one-stop resource for drink related questions, comments, and of course recipes.  Add reviews, register as a user, comment on posts, and answer community generated questions!</p>
  <br>
  <a href="http://www.beerawesome.com">Don't forget to check out BeerAwesome for the best in beer reviews</a>
  </body>
</html>
