<!-- Wanna make a new drink? Call up the form, where there's the name, ingreds and glass -->

<h2>New Post! What's troubling you, questions, comments, etc.  Start a discussion</h2>

<%= render "form" %>
