/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // I know I need more comments but I had to scramble and throw this together starting Wednesday night. Had to nuke my previous project
 // But I'm glad I got this working and looking...okay

*{
  box-sizing:border-box;
}
.links{
  font-size: 20px;
  margin: 1px;
  text-align: left;
}
.recipeslink{
  float: right;
}
body{
  max-width:40em;
  margin:auto;
  font-family: 'Bitter', serif;
  line-height: 1.5;
  width: 900px;
  background-color: rgba(135,206,250,0.35);
  padding-bottom:2em;
}

// This is the big drink logo/link. I think it looks rad.
.drink a{
  display:block;
  margin:auto;
  margin-top: 200px;
  background-size:100%;
  width:230px;
  text-indent:-999em;
  height:158px;
  border:none;
  background-image: asset-url("drink.jpg");
}

//let's get rid of the bullet points, so that we can...
ul {
  list-style-type: none;
}

//OH HEY CSS ANIMATIONS! I don't want it taking up the entire background this time
//So now I've condensed it and the images still look ok if your eyesight sucks
//Seriously. Image compression.
//So I'm going through and basically making the background a slideshow
//Where the images transition ~14 seconds
.slideshow,
.slideshow:after {
    position: fixed;
    width: 100%;
    height: 75%;
    top: 0px;
    left: 0px;
    z-index: -1;
    max-height: 350px;
}
.cb-slideshow:after {
    content: '';

}
.slideshow li span {
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -1;
    animation: imageAnimation 55s linear infinite 0s;
}

.slideshow li:nth-child(1) span {
  background-image: url(drink1.jpg)
}
.slideshow li:nth-child(2) span {
  background-image: url(drink2.jpg);
    animation-delay: 13s;
}
.slideshow li:nth-child(3) span {
  background-image: url(drink3.jpg);

  animation-delay: 26s;
}
.slideshow li:nth-child(4) span {
  background-image: url(drink5.jpg);
  animation-delay: 40;
}

@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    60% { opacity: 0 }
    100% { opacity: 0 }
}

//This font really looked like a cool cocktail font
p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 29px;
  line-height: 1;
  border: groove;
}

.notice, .alert{
  border: none;
}
#notice{
  border: none;
}


//stock time style, didn't feel it needed changing to look ok
time{
  font-size:.8em;
  font-style:italic;
  color: #666;
}

section article{
  border-bottom: 2px solid #aaa;
  padding: 2em 0;
}

section article:last-child{
  border:none;
}

label,
input[type="text"],
textarea{
  width:100%;
  font:inherit;
  display:block;
}

.comments{
  margin-left:2em;
  padding:2em 0;
}

.comments > div{
  background: #eee;
  padding:1em;
  margin-top:1em;
}

a{
  color: inherit;
  text-decoration:none;
  border-bottom:2px solid #666;
}

a:hover{
  background-color: #aaa;
}

.RecipesTop{
  margin: 30px;
}

.sign{
  font-size: 25px;
}
